*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.sign-bar{
  background-color: rgb(9, 9, 97);
  color: white;
  text-align: center;
  padding: 2px;
  text-decoration: none;
   color: greenyellow;
   animation-iteration-count:infinite; 
   animation-duration: 1s;
   animation-name: example;
   }
   @keyframes example{
    0%{color: red;}
    25%{color:yellow;}
    50%{color:blue;}
    75%{color:green;}
    100%{color:orange;}

  
}
.navbar{
  background-color: black;
  color: white;
  padding: 10px;
  position: sticky;
  display: flex;
  justify-content: space-betweee;

}
.navbar-links{
  display: flex;
  justify-content: space-around; 
  width: 90%;
  padding-top: 8px;
}
.navbar-links a{
  color: white;
  text-decoration: none;
}
.side-navbar{
  position: fixed;
  margin-left: -60%;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 1;
  transition-duration: 1s;
  background-color: black;
 
}
.side-navbar-links{
  margin-bottom: 30px;
  color: white;
  margin-top: 20px;
  
}
.side-navbar-links a{
  text-decoration: none;
  color: white;
}
.sidenav{
  margin-top: 60px;
  z-index: 1;
  position: absolute;
  margin-left: 40%;
  background-color: skyblue;
  color: blue;
  width: 20%;
 
  }
  h1{
    margin-left: 10px;
  }
.input-field{
  padding: 5px;
  align-items: center;
  margin-top: 8px;
  margin-left: 10px;
}
.field-submit{
  margin-top: 3px;
  margin-left: 10px;
}
.field-submit:hover{
  background-color: #f38484;
  color: #b7bed1;
}
::placeholder{
  color: rgb(14, 14, 14);
}