a{
    text-decoration: none;
   color: greenyellow;
   animation-iteration-count:infinite; 
   animation-duration: 3s;
   animation-name: example;
   }
   @keyframes example{
    0%{color: red;}
    25%{color:yellow;}
    50%{color:blue;}
    75%{color:green;}
    100%{color:orange;}
}